body{
    font-size: 16px;
    max-width: 1024px;
    margin: 0px auto;
    padding: 0;
}   

header {
    background: #D1E3EE ;
}

#logo {
    margin-top: -150px;
}

header nav {
    border-radius: 5px;
    margin: 0px auto;
    padding: 2px 0px;
    background-color:#036FC4;
}

header nav form{
    margin-right: 30px;
    margin-top: -45px;
    float: right;
}

header nav form input {
    border-radius: 5px;
}

header nav form input[type='submit']{
    background-color: #5BB144;
    border: 1px solid #5BB144;
    padding: 10px 10px 10px 10px;
    color: white;
    border-radius: 5px;
}

header nav form input[type='text']{
    padding: 10px 10px 10px 20px ;
}
header nav ul li{
    display: inline-block;
    color: azure;
    margin-right: 50px;
}

#seccion01{
    margin-top: 15px;
}

#seccion01 article{
    text-align: center;
}

#seccion01 article img{
    width: 98%;
    border: 5px solid rgba(150,150,150,0.5);
}

#seccion02 article{
    width: 32.8%;
    display: inline-block;
    vertical-align: top;
}


#seccion02 article input{
    background-color: white;
    border: 1px solid gray;
    margin: auto 110px;
    border-radius: 3px;
    color: #036FC4;
    padding: 10px;
}

.unaSeccion{
    font-size: 4.5em;
}

.otraSeccion{
    font-size: 2.5em;
}

.nito{
    font-weight: bold;
}